


header{
  font-family: helvetica;
  font-size: 18px;
  margin: 0px 0px;
  padding: 0px;
  text-shadow: 5px 5px 5px #999;
}

body{
  font-family: arial;
  font-size: 14px;

}
nav{
  padding-bottom: 10px;

  border-bottom: 2px solid black;

}

h2{
  margin: 0px 0px;
}



article{
    padding: 10px;
    border-bottom: 2px solid black;
    margin: 0px 0px;
    <!--background-color: blue-->
}

p{
  margin-left: 10px;
  margin-top: 10px;
  <!--background-color: orange-->

}

img {
  float: left;
  padding: 10px 10px 0px 0px;
  margin: 0px;


  }

.fix
 {
  clear: left;
 }

 footer{
  text-align: center;
  padding: 10px;
   }
